{% include 'views/front/includes/header.html.twig' %}

<div class="blog-content ">
    <div class="mx-auto ">
        {{app.renderTemplate(item.content.content, item).render( {'app':app, 'lang':lang} )|raw}}
    </div>
</div>
{% include 'views/front/includes/navbar.html.twig' %}

{% include 'views/front/includes/footer.html.twig' %}